{% extends "base.jinja" %}

{% block content %}
<div id="grid-container">
<div id="gig-heading">
<h1 id="show-gig-heading">{{ gig.city }}, {{ gig.venue }}, {{ gig.date }}</h1>
<form action="/gigs/{{ gig.id }}/setlists/new" method="post">
  <h2>Add Songs to Setlist</h2>
  <br>
  <h2>Set Time Remaining: {{ gig.set_time - total_running_time }} mins</h2>
</div>

<div id="gig-list-of-songs">
  {% for album, songs_in_album in songs|groupby('album') %}
    <details id="album-names">
      <summary>{{ album }}</summary>
      <table>
        <thead>
          <tr>
            <th>Add Song</th>          
            <th>Song Title</th>
            <th>Running Time</th>
            <th></th>
          </tr>
        </thead>
      <tbody>
      {% for song in songs_in_album %}
        <tr>
          <td>
            <input type="checkbox" name="song_id[]" value="{{ song.id }}"></td>
            <td>{{ song.title }}</td>
            <td>{{ song.running_time }} mins</td>
        </tr> 
      {% endfor %}
      </tbody>
      </table>
    </details>
  {% endfor %}
  <input class="btn_submit_2" type="submit" value="+">
</form>
</div>
<hr>
<div id="setlist-display">

{% for setlist in gig.setlists %}
  <div class="song-box">
    <ul>
      <li>
        <h2>{{ setlist.song.title }}</h2> ( <small><i>{{ setlist.song.album }} ) {{ setlist.song.running_time }}mins</i></small>
      </li>
      <li>
        <form action="/setlists/{{ setlist.id }}/delete" method="POST">
        <input class="btn_delete_2" type="submit" value="-"/>
        </form>
      </li>
    </ul>
  </div>   
{% endfor %}
</div>
</div>
{% endblock %}