{% extends "base.jinja" %}

{% block content %}

<h1>{{ gig.city }} {{ gig.venue }} {{ gig.date }}</h1>

<form action="/gigs/{{ gig.id }}/setlists/new" method="post">
  <h2>Add Songs to Setlist</h2>
  {% for song in songs %}
  <div class="song-box">
    <label>
      <input type="checkbox" name="song_id[]" value="{{ song.id }}">
      {{ song.title }}
    </label>
  </div>
  {% endfor %}
  <input class="btn_submit" type="submit" value="Add to Setlist">
</form>

  {% for setlist in gig.setlists %}
  <div class="song-box">
      <ul>
        <li>
            {{ loop.index }}
            {{ setlist.song.title }} (<i>{{ setlist.song.album }}</i>)
        </li>
        <li>
            <form action="/setlists/{{ setlist.id }}/delete" method="POST">
            <input class="btn delete" type="submit" value="delete" />
            </form>
        </li>
      </ul>
  </div>
  {% endfor %}
</form>

{% endblock %}