.btn_delete {
    background-color: #9e0707;
    color: whitesmoke;
    height: 30;
    width: 90;
    font-size: 14px;
  }
  
.btn_delete:hover {
    background-color: #d20808;
}

.btn_submit:hover {
    background-color: #add791;
}
  
.btn_submit {
    background-color: #ABC798;
    height: 30px;
    width: 95px;
    font-size: 14px;
    font-weight: bold;
}

.btn_submit_2:hover {
  background-color: #add791;
}

.btn_submit_2 {
  background-color: #ABC798;
  margin-left: 50px;
  margin-top: 20px;
  height: 30px;
  width: 250px;
  font-size: 22px;
}

.btn_delete_2 {
  margin-top: 10px;
  height: 25px;
  width: 75px;
  font-size: 18px;
}

.form-delete-btn {
  margin:0px;
}

.no-way a:hover {
  cursor:not-allowed;
}

#gig-list-of-songs input[type="checkbox"] {
  margin-left:23px
}