.btn_delete {
    background-color: #9e0707;
    color: whitesmoke
  }
  
.btn_delete:hover {
    background-color: #d20808;
}

.btn_submit:hover {
    background-color: #add791;
}
  
.btn_submit {
    background-color: #ABC798;
}

.btn_submit_2:hover {
  background-color: #add791;
}

.btn_submit_2 {
  background-color: #ABC798;
  margin-left: 13px;
}

.form-delete-btn {
  margin:0px;
}

.no-way a:hover {
  cursor:not-allowed;
}