.btn_delete {
    background-color: #C33C54;
  }
  
  .btn_delete:hover {
    background-color: #730000;
}

.btn_submit:hover {
    background-color: #ABC798;
}
  
.btn_submit {
    background-color: #ABC798;
}

.form-delete-btn {
  margin:0px;
}