/* .form-inline {
    display: flex;
    flex-flow:column;
    align-items: left;
    background-color: rgba(128, 128, 128, 0.442);
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid black;
  } */

.form-inline label {
    margin: 5px 10px 5px 10px;
    padding: 10px;
    padding: 5px;
  }

.form-inline input[type="submit"] {
    padding: 5px 10px 5px;
    background-color: #ff857cd0;
    border: 1px solid black;
    color: black;
    font-size: 14px ;
    margin-left:10px;
  }

.form-inline input[type="text"] {
    width: 25%
}

.form [type="submit"] {
    padding: 5px 10px;
    background-color: #7b55b3;
    border: 1px solid black;
    color: white;
    margin-top: 5px;
}

.form-inline {
  margin-bottom:40px;
}
