header img {
  height:130px;
}

header {
    background-color: #ff857cd0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    display: inline;
    align-items: center;

}

nav {
  display:flex;
  justify-content: space-between;
}

.nav-links-list {
  display: flex;
  margin:20px;
}

header li {
  font-size: 28px;
  margin:20px;
}

body {
    height: 125vh;
    background-color:whitesmoke;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 180px;
    /* padding:50px */
}

footer {
    background-color: #ff857cfb;
    width:100%;
    position: absolute;
    bottom: 0
}

.band-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

.band {
    display: flex;
    flex-direction:column;
    width: 26vw;
    background-color: #b7b7b7b1;
    padding: 10px;
    margin: 20px;
    border: solid 2px black;
    text-align: center;
  }

  /* #grid-container {
    display: grid;
    grid-template-areas:
      'header menu'
      'form table'
      'footer footer';
    grid-template-columns: 3fr 7fr;
  }