header img {
  height:130px;
}

header {
    background-color: #ff857cd0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    display: inline;
    align-items: center;
}

nav {
  display:flex;
  justify-content: space-between;
}

.nav-links-list {
  display: flex;
  margin:20px;
  list-style: none;
}

header li {
  font-size: 28px;
  margin:20px;
}

body {
    background-color:whitesmoke;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 180px;
    margin-left: 0px;
    margin-right: 0px;
}

.content {
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
}

/* .footer {
    background-color: #ff857cfb;
    width:100%;
    position: sticky;
    bottom: 0;
} */

.band-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 50px;
  }

.band {
    display: flex;
    flex-direction:column;
    width: 40vw;
    background-color: #ffb4af;
    padding: 10px;
    margin: 20px;
    border: solid 2px black;
    text-align: center;
  }

.song-container {
  display: flex;
  flex-direction:column;
  width: 40vw;
  background-color: #ffb4af;
  padding: 10px;
  margin: 20px;
  border: solid 2px black;
  text-align: center;
}

.album-title-summary {
  padding:12px
}

.album-dropdown {
  padding:12px
}

#gig-heading {
  grid-area: gig-heading;
  /* margin-bottom: 30px; */
}

#gig-list-of-songs {
  grid-area: gig-list-of-songs;
}

#setlist-display {
  margin-top:18px;
  grid-area: setlist-display
}

#grid-container {
  display: grid;
  grid-template-areas:
    'gig-heading gig-heading'
    'gig-list-of-songs setlist-display';
  grid-template-columns: 5fr 5fr;
}

li {
  list-style: none;
}