 /* LINKS AND HEADINGS */


  h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  h1 {
    font-size: 1.8em;
    color: black;
    margin-bottom: 50px;
  }

  #show-gig-heading {
    margin-bottom: 30px;
  }
  
  a, a:link, a:visited {
    color: #000000;
    text-decoration: none;
  }

  .band > a:link, a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: whitesmoke;
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
  }

#album-names a:hover {
  color:#ff857cd0;
}

.band h2 {
  margin-top:45px;
}

/* #no-way:hover {
  cursor: not-allowed;
} */
