<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
      <script src="https://kit.fontawesome.com/3921cbf444.js" crossorigin="anonymous"></script>
      <title>SetList</title>
  </head>
  <body>
    <div id="page-container">
    <div id="content-wrap">
    <header>
        {# <nav class="skew-menu"></nav> #}
        <nav>
          <a href="/"><img src="{{ url_for('static', filename='/images/logo.png')}}" alt="Logo"></a>
          <ul class="nav-links-list">
              <li>
                <a href="/">My Bands</a>
              </li>
              <li>
                <a href="/gigs">Gigs</a>
              </li>
              <li>
                <a href="/songs">Songs</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-user" style="color: #000000;"></i></a>
              </li>
          </ul>
        </nav>
    </header>
    <main>
      <section class="content">
        {% block content %}

        {% endblock%}
      </section>
    </main>
    </div>
        <footer class="footer">
          <ul>
            <li><a href="#"><i class="fa-brands fa-instagram instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter twitter"></i></a></li>
          </ul>
          <p>&copy; 2020 SetList</p>
        </footer>
    </div>
</body>
</html>