{% extends 'base.jinja'%}

{% block content %}
<h1>SetList</h1>

<p>Create and store all your setlists in one place!</p>

    <div class="band-container">
    <div class ="band">
        <h2><a href="/gigs">We Were Promised Jetpacks</a></h2>
        <h3>Members: Darren</h3>
    </div>
    </div>

{% endblock %}