{% extends 'base.jinja'%}

{% block content %}
<h1>Welcome back Darren!</h1>

<h3>Select your band</h3>

    <div class="band-container">
        <div class ="band">
            <h2><a href="/gigs">We Were Promised Jetpacks</a></h2>
            <h3>Members:<a href="#"> Darren</a> |{#<a id="no-way" href="#">#} Adam | Sean</a></h3>
        </div>
        <div class="band">
            <h2><a href="#">Another band</a></h2>
            <h3>Members: <a href='#'> Darren</a></h3>
        </div>
    </div>

{% endblock %}