{% extends 'base.jinja'%}

{% block content %}
<h1>Welcome back Darren!</h1>

<p>Click on your band and let's Rock 'n' Roll outta here!</p>

    <div class="band-container">
        <div class ="band">
            <h2><a href="/gigs">We Were Promised Jetpacks</a></h2>
            <h3>Members: Darren</h3>
        </div>
        <div class="band">
            <h2>Another band</h2>
            <h3>Members: Darren, another member, another member</h3>
        </div>
    </div>

{% endblock %}