{% extends "base.jinja" %}

{% block content %}

<form action="/setlists" method="post">
  <h1>Add a Setlist</h1>
  {% for song in songs %}
  <div class="song-box">
    <label>
      <input type="checkbox" name="song_id" value="{{ song.id }}">
      {{ song.title }}
    </label>
  </div>
  {% endfor %}
  <label for="gig">Select a show:</label>
  <select name="gig_id" id="gig">
    {% for gig in gigs %}
    <option value="{{ gig.id }}">{{ gig.city }}</option>
    {% endfor %}
  </select>
  <input class="btn_submit" type="submit" value="Submit">
</form>

{% endblock %}