{% extends "base.jinja" %}

{% block content %}

<form class="form-inline" action="/songs" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required>
    <label for="album">Album</label>
    <input type="text" name="album" id="album" required>
    <label for="run_time">Run Time</label>
    <input type="number" name="run_time" id="run_time" required>
    <input class="btn_submit" type="submit" value="Add song">
</form>

<h1>Songs</h1>
{# <details>
<summary>These Four Walls</summary> #}
<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Album</th>
    <th></th>
    <th>Run Time</th>
  </tr>
  {% for song in songs %}
  <tr>
    <td>{{ song.title }} </a></td>
    <td>|</td>
    <td>{{ song.album }}</td>
    <td>|</td>
    <td>{{ song.running_time }}</td>
    <td>|</td>
    <td><a href="/songs/{{ song.id }}"><input class="btn_submit" type='submit' value="View Song"></a></td>
    <td>|</td>
    <td>
    <form action="/songs/{{ song.id }}/delete" method="POST">
    <input class="btn delete" type="submit" value="delete" />
    </td>

  </tr>
  {% endfor %}
</table>
</details>

{% endblock %}