{% extends "base.jinja" %}

{% block content %}
<div class="song-container"
<h2>{{ song.title }}</h2>
<h4><i>{{ song.album }}</i></h4>
<h4><i>{{ song.running_time }}mins</i></h4>
<br><br>
<h3><a href="#">View Lyrics</a></h3>
<br><br>
<form action="/songs/{{ song.id }}/update" method="get">
<input class="btn_submit" type="submit" value="Update"></button>



{% endblock %}